.Columns {
  display: flex;
}

.Columns > .Column {
  flex: 1;
  position: relative;
}

.Columns > .EditorContainer > div {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.Columns > .EditorContainer > div > .Editor {
  height: 100%;
  width: 100%;
}
